<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="lessonsBox" class="container">
    <h2 class="text-center text-info mt-5 mb-3">More About Lessons</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="https://s3-us-west-1.amazonaws.com/angular-academy/blog/images/rxjs-reactive-patterns-small.png" alt=""
                class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title  text-info">RxJS Reactive</h3>
                    <p class="card-text">Reactive JavaScript Framework for Angular! Many Operators to Learn!</p>
                    <a  href="#" class="btn btn-outline-info mr-2">More Details</a>
                    <a href="#" class="btn btn-outline-info">Sign UP</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <img src="https://angular-academy.s3.amazonaws.com/thumbnails/angular2-for-beginners-small-v2.png" alt=""
                     class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title  text-info">Angular Beginners</h3>
                    <p class="card-text">Reactive JavaScript Framework for Angular! Many Operators to Learn!</p>
                    <a  href="#" class="btn btn-outline-info mr-2">More Details</a>
                    <a href="#" class="btn btn-outline-info">Sign UP</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="https://angular-academy.s3.amazonaws.com/thumbnails/ngrx-angular.png" alt=""
                     class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-info">NgRx Reactive</h3>
                    <p class="card-text">Reactive NgRX JavaScript Framework for Angular!Many to Learn!</p>
                    <a  href="#" class="btn btn-outline-info mr-2">More Details</a>
                    <a href="#" class="btn btn-outline-info">Sign UP</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>