<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<section th:fragment="searchSection" class="bg-dark text-light py-5">
    <div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="(BEGINNER OR ADVANCED)">
            </div>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-info  btn-block">
                <i class="fas fa-search mr-2"></i> Search</a>
        </div>
    </div>
    </div>
</section>
</body>
</html>