<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<section th:fragment="searchSection" class="bg-dark text-light py-5">
    <div class="container">
        <form action="#" th:action="@{/user/search/}">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="userId" placeholder="(User Id)">
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="submit" href="#" class="btn btn-info  btn-block">
                        <i class="fas fa-search mr-2"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>