<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<section th:fragment="sideBar">
    <div class="container">
    <div class="d-flex flex-column">
        <ul class="list-group">
            <li class="list-group-item">List Item 1</li>
            <li class="list-group-item">List Item 2</li>
            <li class="list-group-item">List Item 3</li>
            <li class="list-group-item">List Item 4</li>
            <li class="list-group-item">List Item 5</li>
            <li class="list-group-item">List Item 6</li>
        </ul>
    </div>
    </div>
</section>
</body>
</html>