<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
 <section th:fragment="userHead">
     <div id="image" class="jumbotron jumbotron-fluid text-light">
         <div class="container">
             <h1 class="display-3">Angular School</h1>
             <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias assumenda, beatae corporis dolore dolorem ipsum iste labore modi molestiae natus, neque quisquam quo sit tempora unde vel vitae, voluptatem!
             </p>
             <a href="#" class="btn btn-success btn-lg">Sing Up Here!</a>
         </div>
     </div>
 </section>
</body>
</html>