<!DOCTYPE html>
<html th:replace="~{layout/adminLayout :: main(~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-5"
            th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
                <h2>Error Page</h2>
                <div class="alert alert-danger" role="alert">
                    <h3 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|"></h3>
                    <p th:utext="${errorMessage}"></p>
                    <a href="#" th:href="@{/home}">Back to Home Page</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>