
$primary-overlay:rgba(50,146,166,0.8);

@mixin overlay{
  background-color:$primary-overlay;
  opacity: 0.8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#headerSection{
  position: relative;
  background: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80") bottom center / cover no-repeat;
  min-height: 750px;

  .primary-overlay{

     @include overlay;

  }
}
#quotes{
  i{
    opacity: 0.8%;
  }
}
#gallery{
  background-color:#5a6268;
}
#mainFooter{
  background-color: #000;
}

#image{
  background: url("https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") bottom center / cover no-repeat;
}